{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:album_index" %}">Альбомы</a>
        </li>
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_photo" %}">Добавление фотографии</a>
        </li>

    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
    <div class=" row">
            {% include "photos/photo_list_view.html" %}
        </div>
    </div>
{% endblock %}